@tailwind base;
@tailwind components;
@tailwind utilities;
@import "//fonts.cdnfonts.com/css/avenir-next-cyr";

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-weight: 100;
  --gold-color: #ffd700;
}

#__next {
  width: 100%;
  height: 100%;
}

button:focus-within,
input:focus-within,
input:focus-visible,
input:focus-visible {
  border-color: transparent;
  outline: none;
}

.theme-light {
  --body-bg: white;
  --body-bg: linear-gradient(
      180deg,
      rgba(155, 217, 242, 0) 41.16%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    linear-gradient(
      237.67deg,
      rgba(155, 217, 242, 0) 30.62%,
      rgba(255, 215, 138, 0.33) 100%
    ),
    linear-gradient(
      121.92deg,
      rgba(155, 217, 242, 0) 31.4%,
      rgba(255, 215, 138, 0.33) 100%
    ),
    linear-gradient(
      115.18deg,
      rgba(186, 168, 230, 0.5) -35.29%,
      rgba(186, 168, 230, 0) 57.9%
    ),
    linear-gradient(
      245.41deg,
      rgba(186, 168, 230, 0.55) -12.18%,
      rgba(155, 217, 242, 0) 56.8%
    ),
    linear-gradient(0deg, rgba(226, 216, 250, 0.12), rgba(226, 216, 250, 0.12)),
    #bcd4f2;
  --color: black;
  --component-bg: rgba(255, 255, 255, 1);
  --button-bg: rgba(200, 214, 245, 1);
  --button-danger-bg: #ff6c6c;
  --clickable-box-shadow: rgb(0 0 0 / 50%);
  --clickable-border-color: rgb(0, 0, 0);
  --clickable-border-color-less: rgba(0, 0, 0, 0.2);
}

.theme-dark {
  --body-bg: black;
  --body-bg: linear-gradient(0deg, #004469, #004469),
    linear-gradient(
      180deg,
      rgba(8, 10, 14, 0.0768) 24.06%,
      rgba(10, 23, 49, 0.48) 38.02%
    ),
    linear-gradient(
      282.69deg,
      rgba(41, 41, 41, 0) 15.98%,
      rgba(39, 54, 133, 0.3) 100%
    ),
    linear-gradient(
      246.96deg,
      rgba(255, 215, 138, 0.0875) -7.94%,
      rgba(0, 0, 0, 0) 74.69%
    );
  --color: white;
  --component-bg: rgba(25, 27, 31, 1);
  --button-bg: rgba(33, 70, 118, 1);
  --button-danger-bg: #7e0e0e;
  --clickable-box-shadow: rgb(255 255 255 / 50%);
  --clickable-border-color: rgb(255 255 255);
  --clickable-border-color-less: rgba(255, 255, 255, 0.2);
}

.next-container {
  background: var(--body-bg);
  color: var(--color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus-visible,
input:focus-within {
  outline: var(--clickable-border-color) 1px solid;
}

.clickable {
  transition: 0.25s;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.clickable:hover {
  box-shadow: 0px 10px 15px -14px var(--clickable-box-shadow);
  border: 1px solid var(--clickable-border-color);
}

.button {
  background: var(--button-bg);
}

.button-danger {
  background: var(--button-danger-bg);
}

.component {
  background: var(--component-bg);
}

.componentunselected {
  background: var(--component-bg);
  cursor: pointer;
}

.componentselected {
  background: var(--clickable-border-color-less);
  cursor: default;
}

.rectangle {
  background: linear-gradient(142.67deg, #3F4C8F -1.42%, #2E5769 89.44%);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 300px;
  height: 115px;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

.aneta-angel {
  animation: pulse 2s cubic-bezier(0.34, 0.83, 0.78, 0.97) infinite;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 0px rgb(255, 215, 0, 1));
  }
  100% {
    filter: drop-shadow(0px 0px 30px rgb(255, 215, 0, 0));
  }
}
