@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Avenir Next Cyr Medium", sans-serif;
}

#__next {
  width: 100%;
  height: 100%;
}

.theme-light {
  --body-bg: white;
  --color: black;
}

.theme-dark {
  --body-bg: linear-gradient(0deg, #004469, #004469),
  linear-gradient(180deg, rgba(8, 10, 14, 0.0768) 24.06%, rgba(10, 23, 49, 0.48) 38.02%),
  linear-gradient(282.69deg, rgba(41, 41, 41, 0) 15.98%, rgba(39, 54, 133, 0.3) 100%),
  linear-gradient(246.96deg, rgba(255, 215, 138, 0.0875) -7.94%, rgba(0, 0, 0, 0) 74.69%);
  --color: white;
}

.next-container {
  width: 100%;
  height: 100%;
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
